<header class="d-flex align-items-center justify-content-center bg-danger border border-dark border-3">
    <h1 class="text-light">UsersCorp</h1>
</header>
<div>
    <div>
        <a>Index</a>
    </div>
    <div>
        <div>
            <h2>Delete User</h2>
        </div>
        <div>
            <h3>Are you sure you want to delete this user?</h3>
            <div>
                <p>Name</p>
            </div>
            <div>
                <p>Lastname</p>
            </div>
            <div>
                <p>Phone</p>
            </div>
            <div>
                <p>Email</p>
            </div>
            <div>
                <a>Back</a>
                <a>Delete</a>
            </div>
        </div>
    </div>
    <div>
        <a>Log Out</a>
    </div>
</div>