<header class="d-flex align-items-center justify-content-center bg-danger border border-dark border-3">
    <h1 class="text-light">UsersCorp</h1>
</header>
<div>
    <div>
        <a>Index</a>
    </div>
    <div>
        <div>
            <div>
                <h2>Details</h2>
            </div>
            <div>
                <div>
                    <p>Name</p>
                </div>
                <div>
                    <p>Lastname</p>
                </div>
                <div>
                    <p>Phone</p>
                </div>
                <div>
                    <p>Email</p>
                </div>
                <div>
                    <a>Update</a>
                    <a>Delete</a>
                </div>
            </div>
        </div>
        <div>
            <div>
                <h2>DataTime History</h2>
            </div>
            <div>
                <table>
                    <thead>
                        <tr>
                            <td>Entrie Date</td>
                            <td>Check-in Time</td>
                            <td>Exit Date</td>
                            <td>Departure Time</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01-01-2024</td>
                            <td>08:00am</td>
                            <td>01-01-2024</td>
                            <td>08:00pm</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div>
        <a>Log Out</a>
    </div>
</div>