<header class="header1 d-flex justify-content-center">
    <h1 class="text-light">UsersCorp</h1>
</header>
<div class="d-flex justify-content-between mt-2">
    <div class="me-5"></div>
    <div class="d-flex flex-column ms-5 align-items-center">
        <div class="mb-5 mt-1 align-items-center mt-5">
            <h2>@Model.Name</h2>
        </div>
        <div class="d-flex flex-column align-items-cente">
            <div class="d-grid gap-2">
                <a class="box mt-2 border border-dark border-2" asp-action="User" asp-controller="Employees">Users</a>
                <a class="box mt-2 border border-dark border-2" asp-controller="Employees" asp-action="Details" asp-route-id="@Model.Id">Details</a>
                <a class="box mt-2 border border-dark border-2" asp-controller="Uservalidations" asp-action="Register2">Register User</a>
                @if(@Model.Estado){
                <a class="box2 mt-2 border border-dark border-2" asp-controller="Employees" asp-action="ExitDate">Exit</a>
                }else{
                <a class="box3 mt-2 border border-danger border-2" asp-controller="Employees" asp-action="EntryDate">Entry</a>
                }
            </div>
        </div>
    </div>
    <div>
        <a class="button1a mx-2 " asp-controller="Uservalidations" asp-action="logout">Log Out</a>
    </div>
</div>