<div>
    <h1>UsersCorp</h1>
    <h3>Login</h3>
    <form method="post">
        <div>
            <input type="text" id="email" name="email" placeholder="Email"/>
        </div>
        <div>
            <input type="password" id="password" name="password" placeholder="Password"/>
        </div>
        <div>
            <a>Log in</a>
        </div>
    </form>
    <div>
        <a>Sign Up</a>
    </div>
</div>