<div>
    <h1>UsersCorp</h1>
    <h3>Login</h3>
    <form asp-action="Login">
        <div>
            <input type="text" id="email" name="Email" placeholder="Email"/>
        </div>
        <div>
            <input type="password" id="password" name="Password" placeholder="Password"/>
        </div>
        <div>
            <button type="submit">Log in</button>
        </div>
    </form>
    <div>
        <a>Sign Up</a>
    </div>
</div>