<div class="d-flex flex-column mt-5 align-items-center">
    <h1 class="h11">UsersCorp</h1>
    <h3 class="mt-5">Register</h3>
    <form method="post" class="d-flex flex-column mt-3 align-items-center">
        <div>
            <input class="input1 mt-4" type="text" id="name" name="name" placeholder="Name"/>
        </div>
        <div>
            <input class="input1 mt-4" type="text" id="lastname" name="lastname" placeholder="Lastname"/>
        </div>
        <div>
            <input class="input1 mt-4" type="text" id="email" name="email" placeholder="Email"/>
        </div>
        <div>
            <input class="input1 mt-4" type="phone" id="phone" name="phone" placeholder="Phone"/>
        </div>
        <div>
            <input class="input1 mt-4" type="password" id="password" name="password" placeholder="Password"/>
        </div>
        <div>
            <a class="button1">Register</a>
        </div>
    </form>
    <div>
        <a class="button1">Log In</a>
    </div>
</div>