<header class="d-flex align-items-center justify-content-center bg-danger border border-dark border-3">
    <h1 class="text-light">UsersCorp</h1>
</header>
<div>
    <div>
        <a>Index</a>
    </div>
    <div>
        <div>
            <h2>Update</h2>
        </div>
        <div>
            <form method="post">
                <div>
                    <input type="text" id="name" name="name" placeholder="Name"/>
                </div>
                <div>
                    <input type="text" id="lastname" name="lastname" placeholder="Lastname"/>
                </div>
                <div>
                    <input type="text" id="email" name="email" placeholder="Email"/>
                </div>
                <div>
                    <input type="phone" id="phone" name="phone" placeholder="Phone"/>
                </div>
                <div>
                    <a>Save</a>
                    <a>Back</a>
                </div>
            </form>
        </div>
    </div>
    <div>
        <a>Log Out</a>
    </div>
</div>