<header class="header1 d-flex justify-content-center">
    <h1 class="text-light">UsersCorp</h1>
</header>
<div>
    <div class="d-flex justify-content-between">
        <a class="button1">Index</a>
        <a class="button1">Log Out</a>
    </div>
    <div>
        <div class="d-flex justify-content-center">
            <h2>Users</h2>
        </div>
        <div class="d-flex justify-content-center">1
            <div class="d-flex flex-column mt-3 align-items-center col-6">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th>Name</th>
                            <th>Lastname</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table table-striped t1able-hover">
                            <td>2</td>
                            <td>UserName</td>
                            <td>UserLastname</td>
                            <td>example@gmail.com</td>
                            <td>3000000000</td>
                            <td>
                                <a class="button1">Details</a> 

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>