<header class="d-flex align-items-center justify-content-center bg-danger border border-dark border-3">
    <h1 class="text-light">UsersCorp</h1>
</header>
<div>
    <div>
        <a>Index</a>
    </div>
    <div>
        <div>
            <h2>Users</h2>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Name</td>
                        <td>Lastname</td>
                        <td>Email</td>
                        <td>Phone</td>
                        <td>Actions</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>UserName</td>
                        <td>UserLastname</td>
                        <td>example@gmail.com</td>
                        <td>3000000000</td>
                        <td>
                            <a>Details</a>
                        </td>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <a>Log Out</a>
    </div>
</div>