html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.input1 {
  border: none;
  outline: none;
  font-size: 14px;
  border-radius: 15px;
  padding: 1em;
  background-color: #ff3030;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.425);
  transition: 300ms ease-in-out;
  color:red ;
}

.input1:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696,
             -13px -13px 100px #ffffff;
}

.input1::placeholder{
  color: #ffffff;
}

.input1:focus::placeholder {
  color: red;
}

.button1 {
  position: relative;
  display: inline-block;
  margin: 8px;
  padding: 7px 10px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #ff0000;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #ff0000;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #ff0b0b;
}

.button1:hover {
  color: rgb(255, 255, 255);
  box-shadow: inset 0 -100px 0 0 #000000;
}

.button1:active {
  transform: scale(0.9);
}

.h11{
  font-size: 70px;
}

.header1{
  background: #ff1f1f;
  width: 100%;
  margin-right: 0%;
  padding: 14px;
  justify-content: center;

}


.input2 {
  width: 100%;
  max-width: 220px;
  height: 45px;
  padding: 12px;
  border-radius: 12px;
  border: 1.5px solid rgb(0, 0, 0);
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
  color: #ff0000;
}

.input2:hover {
  border: 2px solid rgb(255, 0, 0);
  box-shadow: 0px 0px 20px -17px;
}

.input2:active {
  transform: scale(0.95);
}

.input2:focus {
  border: 2px solid rgb(255, 255, 255);
} 

.input2:focus::placeholder {
  color: red;
}
  
.input2::placeholder {
  color: rgb(255, 111, 111);
}