html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.input1 {
  border: none;
  outline: none;
  font-size: 14px;
  border-radius: 15px;
  padding: 1em;
  background-color: #ffffff;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.425);
  transition: 300ms ease-in-out;
  color: red;
}

.input1:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 4px 4px 20px hsl(0, 100%, 50%),
    -4px -4px 20px #ff0000;
}

.input1::placeholder {
  color: #ff6c6c;
}

.input1:focus::placeholder {
  color: rgb(255, 0, 0);
}

.h11 {
  font-size: 70px;
}

.h12 {
  font-size: 70px;
  color: red;
}

h5 {
  font-size: 34px;
  color: red;
}

/* BUTTON1 */

.button1 {
  padding: 8px 20px;
  border: 0;
  border-radius: 100px;
  background-color: #ff1212;
  color: #ffffff;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  text-decoration: none;
}

.button1:hover {
  background-color: #000000;
  box-shadow: 0 0 20px #fa696950;
  transform: scale(1.1);
  color: #ff0000;
}

.button1:active {
  background-color: #943f3f;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}

.button1a {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #ff0000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

.button1a:hover {
  background-color: #ff0000;
  box-shadow: 0px 15px 20px rgb(22, 0, 0);
  color: #fff;
  transform: translateY(-7px);
}

.button1a:active {
  transform: translateY(-1px);
}


/* BUTTON2 */

.button2 {
  position: relative;
  display: inline-block;
  margin: 8px;
  padding: 7px 70px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #ff0000;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #ff0000;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #ff0000;
}

.button2:hover {
  color: rgb(255, 255, 255);
  box-shadow: inset 0 -100px 0 0 rgb(0, 0, 0);
}

.button2:active {
  transform: scale(0.9);
}

.button2d {
  position: relative;
  display: inline-block;
  margin: 8px;
  padding: 7px 60px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #ff0000;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #ff0000;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #ff0000;
}

.button2d:hover {
  color: rgb(255, 255, 255);
  box-shadow: inset 0 -100px 0 0 rgb(0, 0, 0);
}

.button2d:active {
  transform: scale(0.9);
}

.button2l {
  position: relative;
  display: inline-block;
  margin: 8px;
  padding: 7px 70px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #ff0000;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #ff0000;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #ff7575;
  ;
}

.button2l:hover {
  color: rgb(255, 255, 255);
  box-shadow: inset 0 -100px 0 0 #b80000;
}

.button2l:active {
  transform: scale(0.9);
}

.button2l2 {
  position: relative;
  display: inline-block;
  margin: 8px;
  padding: 7px 64px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #ff0000;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #ff0000;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #ff7575;
}

.button2l2:hover {
  color: rgb(255, 255, 255);
  box-shadow: inset 0 -100px 0 0 #b80000;
}

.button2l2:active {
  transform: scale(0.9);
}

/* BUTTON3 */

.box {
  width: 160px;
  height: auto;
  float: left;
  transition: .5s linear;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 15px;
  text-align: center;
  margin: 0 5px;
  background: transparent;
  text-transform: uppercase;
  font-weight: 900;
  text-decoration: none;
  border-radius: 7px;
  color: red;
}

.box:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
  color: black;
}

.box:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
  color: red;
}

.box:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  color: black;
}

.box:hover:before {
  border-color: #262626;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .3s;
}

.box:hover:after {
  border-color: #ff0000;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .5s;
}

/* 2 */

.box2 {
  width: 160px;
  height: auto;
  float: left;
  transition: .5s linear;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 15px;
  text-align: center;
  margin: 0 5px;
  background-color: red;
  text-transform: uppercase;
  font-weight: 900;
  text-decoration: none;
  border-radius: 7px;
  color: rgb(255, 255, 255);
}

.box2:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
  color: black;
}

.box2:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
  color: red;
}

.box2:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  color: black;
}

.box2:hover:before {
  border-color: #262626;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .3s;
}

.box2:hover:after {
  border-color: #000000;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .5s;
}

/* box3 */

.box3 {
  width: 160px;
  height: auto;
  float: left;
  transition: .5s linear;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 15px;
  text-align: center;
  margin: 0 5px;
  background-color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-weight: 900;
  text-decoration: none;
  border-radius: 7px;
  color: rgb(255, 255, 255);
}

.box3:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
  color: rgb(255, 0, 0);
}

.box3:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
  color: rgb(0, 0, 0);
}

.box3:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  color: rgb(255, 0, 0);
}

.box3:hover:before {
  border-color: #ff0000;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .3s;
}

.box3:hover:after {
  border-color: #ff0000;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .5s;
}

/* button4 Delete */

.button4 {
  position: relative;
  display: inline-block;
  margin: 8px;
  padding: 7px 62px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #ffffff;
  background-color: black;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #ff0000;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #b80000;
}

.button4:hover {
  color: rgb(0, 0, 0);
  box-shadow: inset 0 -100px 0 0 red;
}

.button4:active {
  transform: scale(0.9);
}
/* Buttonimg */

.btnimg{
  position: relative;
  display: inline-block;
  margin: 8px;
  padding: 7px 52px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #ff0000;
  background-color: white;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #ff0000;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #ff7575;
}

.btnimg:hover {
  color: rgb(255, 255, 255);
  box-shadow: inset 0 -100px 0 0 #b80000;
}

.btnimg:active {
  transform: scale(0.9);
}

/* HEADER */
.header1 {
  background: #EF3B36;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #FFFFFF, #ff0800);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #FFFFFF, #ff0800);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  margin-right: 0%;
  padding: 18px;
  justify-content: center;

}

/* INPUT2 */


.input2 {
  width: 100%;
  max-width: 220px;
  height: 45px;
  padding: 12px;
  border-radius: 12px;
  border: 1.5px solid rgb(0, 0, 0);
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
  color: #ff0000;
}

.input2:hover {
  border: 2px solid rgb(255, 0, 0);
  box-shadow: 0px 0px 20px -17px;
}

.input2:active {
  transform: scale(0.95);
}

.input2:focus {
  border: 2px solid rgb(255, 255, 255);
}

.input2:focus::placeholder {
  color: red;
}

.input2::placeholder {
  color: rgb(255, 111, 111);
}


/* CARD LOGIN */

.card {
  position: relative;
  width: 270px;
  height: 300px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 278px;
  height: 314px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #ff0000 0%, #000000 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #ff0000 0%, #ff0000 100%);
  transform: translate3d(0, 0, 0) scale(1.);
  filter: blur(20px);
}

.heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}

.card p:not(.heading) {
  font-size: 14px;
}

.card p:last-child {
  color: #e81cff;
  font-weight: 600;
}

.card:hover::after {
  filter: blur(30px);
}

.card:hover::before {
  transform: rotate(-90deg) scaleX(1.2) scaleY(1.0);
}

/* CARD REGISTERS */

.cardr {
  position: relative;
  width: 270px;
  height: 560px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.cardr::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 278px;
  height: 590px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #ff0000 0%, #000000 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.cardr::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #ff0000 0%, #ff0000 100%);
  transform: translate3d(0, 0, 0) scale(2.);
  filter: blur(20px);
}

.cardr p:not(.heading) {
  font-size: 14px;
}

.cardr p:last-child {
  color: #e81cff;
  font-weight: 600;
}

.cardr:hover::after {
  filter: blur(30px);
}

.cardr:hover::before {
  transform: rotate(-90deg) scaleX(2.14) scaleY(0.50);
}

/* CARD DETAILS */

.card3 {
  width: 280px;
  height: 470px;
  border-radius: 30px;
  background: #000000;
  box-shadow: 4px 4px 30px #ff0000,
    -4px -4px 30px #ff0000;
}

.card4 {
  width: 928px;
  height: 440px;
  border-radius: 30px;
  background: #ffffff;
  box-shadow: 4px 4px 30px #ff0000,
    -4px -4px 30px #ff0000;
}

.card5 {
  width: 928px;
  height: 440px;
  border-radius: 30px;
  background: #ffffff;
  box-shadow: 4px 4px 30px #ff0000,
    -4px -4px 30px #ff0000;
}
.img1{
  width: 200px;
  border-radius: 14px;
}